* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 body {
    font-family: 'Work Sans', sans-serif;  
 }
 :root {
   --min-color:#fe1205;
   --section-padding: 60px;
   --section-background:#f6f6f6;
 }
 html {
   scroll-behavior: smooth;
 }
 /* Small */
 @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  } 
  /* Medium */
   @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  } 
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  } 
  /* start components */
  .special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
  }
  .special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (min-width:350px) and (max-width : 800px) {
    .special-heading{
      font-size: 70px;

    }
  }
  /* end components
  /* start-header */

.container {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
.header {
     
       background-color:var(--min-color);
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 200px;
  }
  .logo {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
  }
  @media (min-width:350px) and (max-width : 600px) {
    .header {
      display: flex;
      flex-wrap: wrap;
    }
  .header .nav {
    display: none;
  }
  .header .icon:hover .nav {
    display: block;
    
  }
  }
  @media (min-width:1000px) and (max-width : 2000px) {
    .header .icon i {
      display: none;
    }
  }
  .nav a {
    text-decoration: none;
    padding-left: 30px;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
  }
  .nav a:hover {
    color: black;
    border-bottom: 2px black solid;
  } 
  @media (min-width:350px) and (max-width : 600px) {
    .header {
      padding:11px;
      width: 390px;
    }
  }
  /* .i{
    color: var(--min-color);
    color: white;
  } */
  /* .header .container {
      display: flex;
      justify-content: end;
      align-items: center;
      
  } */
  /* .header .container .logo {
      width: 70px;
  } */
  /* .header .container  ul
    { display: flex; */
    /* display: flex;
    justify-content: end;
    align-items: center; */
      /* position: absolute;
      right: 0;
        padding: 0;
        margin: 0;
        min-width: 300px;
        list-style: none;
        display: none;
        background-color: #f6f6f6;
        z-index: 1; */
        

/* .header .container  ul li {
  margin: 0 20px;
  list-style: none;
  color: white;
}
.header .container  ul li a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: larger;
}
.header .container li a:hover {
    height: 20px;
  color: #ebeced;
} */
/* .header .container .links ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    transition: 0.3s;
} */
/* .header .container .links ul li a:hover {
    padding-left: 30px;
} */
/* .header .container .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}  */
/* end header */
/* start landing */
.landing {
   height: calc(100vh - 28px);
   position: relative; 

}
.landing .intro-text {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
text-align: center;
max-width: 100%;

}
.landing .intro-text img {
  width: 500px;
  
}
@media (min-width : 350px) and (max-width : 800px ){
  .landing {
    height: calc(80vh - 185px);
    position: relative;
  }
 
}


/* @media (min-width:350px)and (max-width : 1000px) {
  .landing{
    width: 70px;
  }
} */
@media (min-width : 350px) and (max-width : 800px ) {
  .landing .intro-text img {
    width: 300px;
    position: relative;
    
  }
}
/* strart featurs */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}
.features .container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
gap: 20px;
}
.features .feat {
text-align: center;
padding: 20px;
}
.features .feat i {
  color: var(--min-color);
font-size: 30px;
}
.features .feat h3 {
color: var(--min-color);
font-weight: 800;
margin: 20px 0px;
}
.features .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
@media (max-width : 1200px) {
  .features{
    width: 100%;
  }
  
  
}
/* end featurs */
/* start services */
.services {
padding-top: 60px;
padding-bottom: 60px;
}
.services p {
  margin-bottom: 20px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(350px,1fr));
  gap: 10px;
  margin-top: 50px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media(min-width:350px)and (max-width:767px) {
  .services .services-content .srv{
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--min-color);
  flex-basis: 20px;
  font-size: 30px;

}
.services .services-content .srv .text{
  flex: 1;
}
.services .services-content .srv .text h3 {
margin: 0 0 20px 20px;
}
.services .services-content .srv .text p {
color: #444;
}
.services .services-content .image{
  text-align: center;
  position: relative;
}
.services .services-content .image img{
  width: 300px;
  height: 274px;
}
.services .services-content .image::before{
  content: '';
    background-color: var(--min-color);
    width: 80px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0px;
    z-index: -1;
}
@media(max-width : 1199px) {
  .img-coloum {
    display: none;
  }
}
  
/* end services */

/* <!-- start portfolio --> */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;

}
.card {
  background-color: white;
}
.card img {
  max-width: 100%;
}
.info {
  padding: 20px;
}
.info h3{
  margin: 0;
  color: var(--min-color);
}
.info p {
  color: #444;
  line-height: 1.6;
}
/* <!-- end portfolio --> */
 
/* <!-- start About --> */
.about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px) ;
}
  .About-content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width :991px) {
    .About-content{
      flex-direction: column;
      text-align: center;
    }
  }
  .About-content .image {
    position: relative;
    width: 460px;
    height: 370px;
  }
   @media (max-width :991px) {
    .image img {
      width: 60%;
       padding: 0 8px; 
      margin-right: 100px;
    } 
  }
  @media (min-width:350px) and (max-width : 800px){
    .About-content .text{
      width: 80%;
      padding: 0px 30px;
      margin: 0 40px;
    }
  }
  @media (min-width:350px) and (max-width :800px){
    .About-content .image {
      position: relative;
    width: 281px;
    height: 260px;
    margin: 0 87px;
    }
  }
  .image img {
    max-width: 65%;  }
.About-content .text {
  flex-basis: calc(100% - 600px);
}
.About-content .text p:first-of-type{
  font-weight: bold;
  line-height: 1.6;
margin-bottom: 50px;
}
.About-content .text p:last-of-type {
line-height: 2;
color: black;
font-weight: bold;
font-size: 25px;
}
.About-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--min-color);
}
/* <!-- end About --> */

/* <!-- start contact --> */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 30px;
  font-weight: 800;
  color:#444;
  letter-spacing: 1px;
  margin-bottom: 15px;

}
.contact .info .link {
  display: block;
  font-size: 30px;
  font-weight: 800;
  color:var(--min-color);
  text-decoration: none;
}
.contact .info .link i {
background-color: #444;
color: white;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i:last-child {
  margin-left: 10px;
  color: green;
  font-weight: 800px;
}
.contact .info .social i{
  font-weight: 800;
  margin: 0 10px;
}
.contact .info .social i .num {
  color:black;
  margin-left: 10px;
}
@media (max-width : 767) {
  .contact .info .label
   {
    font-size: 5px;
  }
}
@media(min-width:350px)and (max-width : 800px) {
  .contact .info .link {
    font-size: 20px;
  }
}
/* <!-- end contact --> */
/* start footer */
.footer {
  background-color: var(--min-color);
  padding: 30px 10px;
  text-align: center;
  color: white;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color:#444;
}
/* end footer */


